.image-wrapper {
    img { 
        bottom: 0;
        position: absolute;
        right: 0;
        width: 66%;

        @include query(520px){
            width: 50%;
        }

         @include query(630px){
            width: 36%;
        }

        @include query(1000px){
            width: 30%;
        }
    } 
}

.logo-container {
    margin: 0 auto;
    padding: 30px;
    text-align: center;

    img {
        width: 80%;
        opacity: 0.8;

        @include query(1000px){
            width: 60%;
        }
    }
}